body {
  /* background-color: #e3fdfd; */
  margin: 0;
}
.logo-brand {
  width: 50px;
}
.welcome {
  background: linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)),
    url("../images/welcome.jpg") center center / cover no-repeat;
  padding: 0px 0px 150px;
  flex-direction: column;
  min-height: auto;
  position: relative;
}

.first_h1 {
  text-align: center;
  color: antiquewhite;
  padding-top: 250px;
  font-size: 4.5rem;
  width: 50%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.first_p {
  text-align: center;
  color: #34a56f;
  padding-top: 20px;
  font-size: 2.5rem;
  width: 50%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.link:hover {
  opacity: 0.8;
}

.link {
  cursor: pointer;
  text-decoration: none;
  text-overflow: ellipsis;
  max-width: 250px;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 10px;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: opacity 0.1s linear 0s;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #5fc6cb;
}
.short {
  width: 20%;
  margin-top: 0;
  position: relative;
  top: 10px;
}

h1,
h2,
h3 {
  color: #34a56f;
}

.top_container_elements {
  width: 75%;
  padding-top: 100px;
  margin: 0px auto;
  text-align: left;
  height: 500px;
}

h1,
p {
  margin: 10px;
  line-height: 1.5;
}

.main_title {
  margin-top: 100px;
  font-size: 1.6rem;
}

.top-container{
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  min-height: 500px;
}

.middle-container {
  /* margin-top: 150px; */
  background-color: black;
  color: #e0e5e8;
  margin-top: 0;
}

.skills{
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  min-height: 400px;
}

.container-title{
  margin-block-start: 80px;
}

h3{
  font-size: 2.5rem;

}